body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(26, 24, 24, 0.187);
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 350px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: black;
}

.display-clear {
    display: flex;
    margin-bottom: 10px;
}

#display {
    flex-grow: 1;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 410%;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    background-color:black;
}
#clear{
    background-color: rgb(7, 125, 98);
    margin-left: 10px;
}
.number{
    color: aliceblue;
}
.operations{
    background-color: gray;
}
button:active {
    background-color: #ddd;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}
